* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 500;
    text-align: center;
}

.heading {
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
    color: orange;
    font-family: 'bangers';
}

.container {
    width: 360px;
    height: 780px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    color:rgb(112, 90, 133)
}

.grammar {
    font-family: 'kanit';
}

.subjects {
    color: rgb(255, 0, 221);
    font-family: 'sour gummy';
}

span {
    color:limegreen;
}

.buttons {
    width: 50px;
    font-size: 20px;
    color: rgb(0, 162, 255);
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px black;
    margin: 5px 1px;
}

.buttons:hover {
    background-color: chartreuse;
    color: red;
}

.btn-translation {
    width: 300px;
    color: darkorange;
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px black;
    font-size: 20px;
    font-family: 'sour gummy';
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}

.btn-translation:active {
    box-shadow: none;
    color: red;
}